SUPABASE_URL=https://jrvkdekyupcxzbxtlnwu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
REDIS_URL=redis://:KBSqDRIl9RjDYGraXBDemRviGXCwwE3y@76.13.225.174:6379
OPENAI_API_KEY=
EVOAPI_URL=
EVOAPI_KEY=
WEBHOOK_SECRET=
API_PORT=3001
